.intro{
    background-image: url(/images/h_img.jpg);
    background-size: cover;
}
.intro p, h1{
    color: whitesmoke;
}
body{
    text-align: center;
}
.service{
    background-image: url(/images/s_image.jpg);
    background-size: cover;
}
.service {
    color: whitesmoke;
}
.col-md-3 img{
    width:250px;
    /* margin-right:10px; */
}
#kerry{
    background: none;
}
#kaka{
    background:none;
    height: 200px;
    width: 700px;
    text-align: center;
}

.contact{
    background-image: url(/images/c_image.jpg);
    height: 400px;
    width:100%;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding-top: 30px;
}
.contact>h2{
    color: whitesmoke;
}
.social{
    margin-top: 30px;
}