.intro{
    background-image: url(/images/h_img.jpg);
    height: 500px;
    padding-top:80px;
}
/* .intro2{
    padding-top: 70px;
} */
.intro p, h1{
    color: whitesmoke;
}
body{
    text-align: center;
}
.service{
    background-image: url(/images/s_image.jpg);
    height: 300px;
}
.service {
    color: whitesmoke;
}
.col-md-3 img{
    width:250px;
    /* margin-right:10px; */
}
#kerry{
    background: none;
}
#kaka{
    background:none;
    height: 200px;
    width: 700px;
    text-align: center;
}
.message{
    margin-left: 200px;
}
.col{
    margin-left: 50px;
    margin-right: 50px;
}

.contact{
    background-image: url(/images/c_image.jpg);
    height: 400px;
    width:100%;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding-top: 30px;
}
.contact>h2{
    color: whitesmoke;
}
.social{
    margin-top: 30px;
}
.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* background-color: #F44336;
    height: 200px; */
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}
@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-100px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}
