.intro{
    background-image: url(/images/h_img.jpg);
    background-size: cover;
}
.intro p, h1{
    color: whitesmoke;
}
body{
    text-align: center;
}
.service{
    background-image: url(/images/s_image.jpg);
    background-size: cover;
}
.service {
    color: whitesmoke;
}